
@font-face {
    font-family: "Oswald-Light";
    src: url("fonts/Oswald-Light.ttf");
}
@font-face {
    font-family: "Oswald-Bold";
    src: url("fonts/Oswald-Bold.ttf");
}
@font-face {
    font-family: "Oswald-LightItalic";
    src: url("fonts/Oswald-LightItalic.ttf");
}
@font-face {
    font-family: "Oswald-Medium";
    src: url("fonts/Oswald-Medium.ttf");
}
@font-face {
    font-family: "DroidSerif-Italic";
    src: url("fonts/DroidSerif-Italic.ttf");
}
@font-face {
    font-family: "DroidSerif-Regular";
    src: url("fonts/DroidSerif-Regular.ttf");
}
* {
    font-family: "Oswald-Light";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
body {
    background-color: #383734;
}
input, textarea, button {
    color: black !important;
    font-size: 13px !important;
}
input.form-control:focus, textarea.form-control:focus {
    border-color: #f7941e;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(247, 147, 29, 0.6);
    outline: 0 none;
}
.navbar {
    background-color: #383734;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}
.navbar-header {
    float: right;
    width: 100%;
}
nav button.navbar-toggler {
    background-color: #e6e7e8;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    float: right;
    font-size: 21px;
}
nav button.navbar-toggler:hover {
    background: #f7941e none repeat scroll 0 0;
}
nav ul.nav {
    float: right;
}
nav a.navbar-brand {
}
nav a.navbar-brand img {
}
.navbar-nav .nav-item + .nav-item {
    margin-left: 0;
}
nav ul.nav li {
    margin-left: 13px !important;
    margin-top: 2px;
}
nav ul.nav li a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    letter-spacing: 0.08em;
    padding-left: 6px;
    padding-right: 4px;
}
nav ul.nav li a:hover {
    color: rgba(255, 255, 255, 1);
}
nav ul.nav li a:focus {
}
nav ul.nav li a:active, nav ul.nav li a:hover, nav ul.nav li.active a {
    background-color: transparent;
    color: #f7941e;
}
nav ul.nav li a:active a:focus {
}
#CollapsingNavbar.collapsing ul.nav {
    display: none;
}
#CollapsingNavbar.collapsing li, #CollapsingNavbar.collapse.in li {
    float: right;
    text-align: right;
    width: 100%;
}
div.slide {
    padding-bottom: 30px !important;
    padding-top: 95px !important;
}
#home {
    padding-bottom: 75px !important;
    padding-top: 140px !important;
}
div.slide h2 {
    font-size: 30px;
    padding-bottom: 30px;
    text-align: left;
}
div.slide h3 {
    font-size: 25px;
    letter-spacing: 0.03em;
    line-height: 1.3em;
    text-align: left;
}
div.slide h3.about {
    font-size: 30px;
    letter-spacing: 0.03em;
    line-height: 1.3em;
    text-align: center;
}
div.slide div.card {
    background-color: transparent;
    border: 1px solid #f7941e;
    margin-top: 30px !important;
    padding-top: 20px;
    height: 480px;
}
div.slide img.card-img-top {
    border: 1px solid #000000;
    border-radius: 50%;
    display: inline-block;
    height: 130px;
    width: 130px;
}
div.slide p.card-text {
    color: #e6e7e8;
    font-size: 16px;
}
div.slide h4.card-title {
    color: #f7941e;
    font-family: "Oswald-Medium";
    text-align: center;
}
.xp_orange {
    background-color: #ee9132;
}
.xp_orange h2 {
    color: rgba(255, 255, 255, 1) !important;
}
.xp_orange h3 {
    color: #383734 !important;
}
.xp_orange p {
}
.xp_gray_h {
    background-color: #383734;
}
.xp_gray_h h2 {
    color: #ee9132 !important;
}
.xp_gray_h h3 {
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 22px !important;
    margin-bottom: 40px !important;
}
.xp_gray_h p {
    color: #9d9d8e !important;
    padding-bottom: 20px !important;
}
.xp_gray_l {
    background-color: #484746;
}
.xp_gray_l h2 {
    color: #ee9132 !important;
}
.xp_gray_l h3 {
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 22px !important;
    margin-bottom: 40px !important;
}
.xp_gray_l p {
    color: #9d9d8e !important;
    padding-bottom: 20px !important;
}
.card p {
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 16px;
}
.card h4.card-duration {
    color: rgba(255, 255, 255, 0.9);
    font-family: "Oswald-Medium";
    font-size: 16px;
    text-align: center;
}
.card p.card-text {
    padding: 10px;
    text-align: center !important;
}
.xp_orange .card {
    border-color: #383734 !important;
}
.xp_orange .card h4.card-title {
    color: #383734 !important;
}
.xp_orange .card p {
    color: #383734 !important;
}
