p {
    font-family: "Oswald-Light";
    font-size: 16px;
}
div.slide {
    padding-top: 95px !important;
    padding-bottom: 30px !important;
}
#home {
    padding-top: 140px !important;
    padding-bottom: 75px !important;
}
.xp_orange {
    background-color: #EE9132;
}
.xp_orange h2 {
    color: rgba(255,255,255,1) !important;
}
.xp_orange h3 {
    color: #383734 !important;
    font-size: 26px !important;
}
.xp_orange p {
}

.xp_gray_h {
    background-color: #383734;
}
.xp_gray_h h2 {
    color: #EE9132 !important;
}
.xp_gray_h h3 {
    color: rgba(255,255,255,0.9) !important;
}
.xp_gray_h p {
    color: #9D9D8E;
    padding-bottom: 20px !important;
}

.xp_gray_l {
    background-color: #484746;
}
.xp_gray_l h2 {
    color: #EE9132 !important;
}
.xp_gray_l h3 {
    color: rgba(255,255,255,0.9) !important;
}
.xp_gray_l p {
    color: #9D9D8E;
    padding-bottom: 20px !important;
}

.card {
    margin-top: 30px !important;
    height: auto !important;
}
.card p {
    color: rgba(255,255,255,0.9) !important;
    font-size: 16px;
}
.card h4.card-duration {
    text-align: center;
    font-family: "Oswald-Medium";
    color: rgba(255,255,255,0.9);
    font-size: 16px;
}
.card p.card-text {
    text-align: center !important;
    padding: 24px;
}

.xp_orange .card {
    border-color: #383734;
}

.xp_orange .card h4.card-title {
    color: #383734 !important;
}

.xp_orange .card p {
    color: #383734 !important;;
}